.pagecontent{width:1000px;height:auto;margin:0 auto;
    .empty{height:600px;width:100%;
        h1{text-align: center;margin-top:150px;font-size:26px;color:#333;}
        #goshopping{display: block;width:198px;height:50px;margin:98px auto 0;background:#b5322f;font-size:19px;text-align: center;color:white;line-height:50px;}
    }
    #have{width:100%;height:auto;display:none;margin-top:50px;
        .checked{background:url(../images/shopcart/checked.png) no-repeat left center;}
        .nocheck{background:url(../images/shopcart/check.png) no-repeat left center;}
        .numofpdt{height:26px;width:100%;margin-bottom:26px;font-size:26px;line-height:26px;}
        #cartTitle{width:100%;height:34px;margin-bottom:8px;
            & div{width: 28px;height: 14px;padding:10px 0 10px 28px;font-size:14px;line-height:14px;float: left;}
            & p{width:150px;float:left;height:34px;line-height:34px;margin-left: 18px;font-size:14px;color:#333;
                & span{font-family:impact;color:red;}
            }
        }
        .shopcartlist{width:942px;height:auto;border-top:1px solid #333;padding:0 29px;border-bottom: 1px solid #333;
            .listchild:first-child{border:0;}
            .listchild{width:100%;height:239px;border-top:1px dashed #333;
                .childtitle{width:100%;height: 50px;
                    & div:first-child{width:20px;height:50px;float:left;}
                    .delete{width:58px;height:50px;font-size:14px;line-height: 50px;float:right;}
                    .delete:before{content: '';display:inline-block;width:22px;height:28px;vertical-align: middle;background:url(../images/shopcart/cartbtn.png) no-repeat -24px -112px;margin-right:5px;}
                }
                .childcontent{width:100%;height:160px;padding-bottom: 28px;
                    .pdtimg{height:160px;width:160px;float:left;}
                    .pdtmsg{width:35%;height:140px;float: left;padding-top:20px;padding-left:30px;
                        & h4{width:100%;height:36px;padding-bottom:30px;
                            & a{font-size:18px;color:#333;font-family:impact}
                        }
                        & p{height:14px;padding-bottom:10px;font-size:14px;line-height:14px;color:#333;font-family:impact;}
                    }
                    .totalprice{width:120px;height:80px;float:right;
                        & p{width:100%;height:18px;padding-top:10px;font-size: 18px;font-family:impact;color:red;}
                        .numOperate{height:27px;margin-top:27px;position: relative;
                            & label{position: absolute;top: 6px;left: -12px;font-size: 14px;color: #333;}
                            .add-reduce{width:92px;height:25px;border:1px solid #989898;position: relative;right:-26px;
                                .add{width:25px;height:25px;float:left;background: url(../images/shopcart/minus.png) no-repeat center;}
                                .Num{width:38px;height:25px;border-left:1px solid #999;border-right:1px solid #999;float:left;font-family: impact;text-align: center;color:#999;line-height:25px;}
                                .reduce{width:25px;height:25px;float:left;background: url(../images/shopcart/add.png) no-repeat center;}
                            }
                        }
                    }
                }
            }
        }
        .checkout{width:1000px;height:215px;padding-bottom:92px;margin-top:50px;
            .leftbox{
                height:215px;width:300px;float:left;
                .helpbox{
                    width: 258px;height:113px;border:1px solid #999;padding:20px;margin-bottom:10px;
                    & h4{height:18px;font-size:18px;color:#333;margin-bottom:10px;}
                    & a{display:block;width:244px;height:20px;padding-left: 14px;font-size:14px;color:#333;}
                }
                .continue{display: block;width:298px;height:48px;border:1px solid #999;font-size: 20px;line-height:48px;text-align: center;color:#333;}
            }
            .rightbox{width:242px;height:215px;float:right;
                & div{height:28px;width:100%;font-family: impact;font-size:18px;
                    .des{width:90px;float:left;line-height:28px;}
                    .amount{height:100%;float:right;width:120px;text-align: right;}
                }
                .total{margin-top:20px;font-size:28px;
                    & div{font-size:22px;line-height:28px;color:#333;}
                    .amount{color:red;}
                }
                & p{height:24px;font-size:14px;margin-top:5px;
                    & b{color:red;}
                }
                .pay{display: block;width:198px;height:50px;margin-top:37px;background:#b63330;font-size:22px;line-height:50px;text-align: center;color:white;float:right;}
            }
        }
    }
}
